a{
	text-decoration: none;
	font-size:15px;
	font-weight: bold;
	color: White;
	cursor: pointer;
}
a:hover{
	background-color: none;
    text-decoration: none;
    color: gainsboro;
}

body {
    background: whitesmoke;
}

.navbar-inverse {
    background-color: #087835;
    border-color: #087830;
    
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    color: gainsboro;
}

.navbar {
    border-radius: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: green;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
   background-color: darkgreen;
}

.centerdiv {
	margin: 0%;
    width: 100%;
    padding: 10px;
}

.profilediv {
    padding: 30px;
    padding-top: 0;
}

.innerdiv {
    width: 50%;
    background-color: lightgreen;
	margin:0 auto;
    padding: 50px;
    
}

.post {
	width: 50%;
    background-color: orange;
	margin:0 auto;
}

.paginate_div {
	width: 50%;
	margin:0 auto;
}

.post_author {
    font-weight: bold;
	background-color: darkorange;
	padding: 10px;
}

.post_author a{
    color:black;
}

.post_author a:hover{
    color:#505050;
}


.post_item {
    font-weight: bold;
	color: black;
	padding: 10px;
}

img.item_photo{
	width: 100%;
    object-fit: contain;
    padding: 15px;
}

.post_userphoto {
	width: auto;
	height: 50px;
}

.profile_picture {
    width: auto;
	max-height: 300px;
}

.post_img {
}

#postButton {
	background-color: #357AE8;
	width: 40%;
	margin:0 auto;	
	border-radius: 10px;
	cursor: pointer;
}

#postButton p {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color:white;
	padding:40px;
	
}
#postButton:hover {
	background-color: #357FFF;
}

.tag_wrap {
    padding: 10px;
}

.tag {
    border-radius: 5px;
    padding: 5px;
    background-color: darkred;
    display: inline-block;
}

.dropdown {
    padding: 10px;
}

#select-item:first-child {
    display: none;
}

.post_item a{
    color:black;
}

