body {
    background: whitesmoke;
}

.navbar-inverse {
    background-color: #087835;
    border-color: #087830;
    
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    color: gainsboro;
}

.navbar {
    border-radius: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: green;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
   background-color: darkgreen;
}

.centerdiv {
	margin: 0%;
    width: 100%;
    padding: 10px;
}

.post {
	width: 50%;
    background-color: powderblue;
	margin:0 auto;
}

.post_author {
    font-weight: bold;
	background-color: green;
	color: gainsboro;
	padding: 10px;
}

.post_item {
    font-weight: bold;
	background-color: lightgreen;
	color: black;
	padding: 10px;
}

img.item_photo{
	width: 500px;
	height: auto;
}

.post_userphoto {
	width: auto;
	height: 50px;
}

.post_img {
    background-color: lightgreen;
}






