{% extends 'newbeginnings/base.html' %}

{% block body%}
    {% if posts %}
    <div class="centerdiv">
    {% for post in posts %}
            <div class="post">
                <div class="post_author">
                    <img class="post_userphoto"src="{{post.user_id.profile_picture.url}}">
                    {{post.user_id.username}}
                </div>
                <div class="post_item">
                    {{post.item_name}}
                </div>
                <div class="post_img">
                    <center><img class="item_photo "src="{{post.item_photo.url}}"></center>
                </div>
            </div> <br>
    {% endfor %}
    </div>
    {% else %}
        <p> No posts available</p>
    {% endif %}
{% endblock %}