{% extends 'newbeginnings/base.html' %}


{% block javascript%}
{% endblock %}

{% block body%}
{% for post in posts %}
    {% if post %}
    <div class="centerdiv">
          <div class="post">
                <div class="post_author">
                    <a href="{% url 'profile' post.user_id.id %}">{{post.user_id.username}}</a>
                </div>
                <div class="post_item">
                    <h3><strong>{{post.item_name}}</strong></h3>
                
                    Quantity: {{post.item_quantity}}<br>
                
                    Condition: <a href="{% url 'post-condition' post.item_condition_slug %}">{{post.item_condition}}</a> <br>
                    
                    Type: <a href="{% url 'post-type' post.item_type_slug %}">{{post.item_type}}</a> <br>
                
                    Use: <a href="{% url 'post-use' post.item_use_slug %}">{{post.item_use}}</a> <br>
                    
                    {% if post.item_use == "Academic" %}    
                        {{post.user_id.last_name}}
                    {% endif %}
                    
                </div>
                {% if post.item_photo %}
                <div class="post_img" ng-app="post_image">
                    <center>
                        <img id="myImg" src="{{post.item_photo.url}}" > 
                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                          <!-- The Close Button -->
                          <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                          <!-- Modal Content (The Image) -->
                          <img class="modal-content" id="img01">

                          <!-- Modal Caption (Image Text) -->
                          <div id="caption">{{post.item_name}}</div>
                        </div>
                    </center>
                </div>
                {% endif %}
                <div class="tag_wrap">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'post-tag' tag.slug %}"><div class="tag">{{ tag.name }}</div></a>
                    {% endfor %}
                </div>
            </div>
        <div class="offerTab"><h2>Offers:</h2></div>
        {% for offer in offers %}
        <div class="offer">
            <div class="offer_author">
                    <a href="{% url 'profile' offer.user_id.id %}">{{offer.user_id.username}}</a>
                </div>
                {% if offer.isPurchase %}
                <div class="offer_item">
                    Offered Amount: Php {{offer.purchase_offer}}
                </div>
                {% else %}
                <div class="offer_item">
                    Offered Item: <a href="{% url 'post' offer.exchange_offer.id %}">{{offer.exchange_offer.item_name}}</a>
                </div>
                {% endif %}

        </div>
        {% endfor %}
    </div>

    <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>
    {% endif %}
{% endfor %}
{% endblock %}