   {% for post in posts %}
            <div class="post">
                <div class="post_author">
                    <a href="{% url 'profile' post.user_id.id %}">{{post.user_id.username}}</a>
                </div>
                <div class="post_item">
                    {{post.item_name}}
                </div>
                {% if post.item_photo %}
                <div class="post_img">
                    <center><img class="item_photo "src="{{post.item_photo.url}}"></center>
                </div>
                {% endif %}
                <div class="tag_wrap">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'post-tag' tag.slug %}"><div class="tag">{{ tag.name }}</div></a>
                    {% endfor %}
                </div>
            </div> <br>
    {% endfor %}

        <div class="paginate_div">
            {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>

            <!--{% if posts|length > 10 %}
            <a href="{% url 'userposts' user.id %}">
                <div id="postButton"><p>I want more posts</p></div>
            </a>
            {% endif %}