{% extends 'newbeginnings/base.html' %}

{% block body%}
    {% if user %}
    <div class="profilediv">
        <div>
            <h2>{{user.first_name}}</h2><p>({{user.username}})</p>
        </div>
        <div>
            <p>Degree Program or Office: {{user.last_name}}</p>
        </div>
    </div>

    {% if posts %}
    <div class="centerdiv">
        {% include 'newbeginnings/post.html' %}
    </div>
    {% endif %}
    {% else %}
        <p> user not available</p>
    {% endif %}
{% endblock %}